PORT=3000
MONGODB_URI=mongodb+srv://<db_username>:CQq2zSU95KJ4HzvD@cluster0.chxbsi8.mongodb.net/?appName=Cluster0
JWT_SECRET=1234qwerasdf1224!!!
JWT_EXPIRES_IN=8h
db_username=duretimohammedsani1_db_user
db_password=CQq2zSU95KJ4HzvD